body{
    color: rgb(255,255,255);
    font-family: 'Helvetica Neue',Helvetica, Verdana,Arial,Helvetica,sans-serif;
    line-height: 1.4em;
	margin : 0px;
	background-image: url("image/background.png");
	background-attachment:fixed;
	margin-top: 80px;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

em{
	color:white;
	
}

#logoTete{
	background-image: url("image/logo.png");
	background-repeat: no-repeat;
	margin-left: 2%;
	min-width: 280px;
	width: 60%;
	margin-top: 8px;
	margin-bottom: -8px;
}
header{
    background-image : url("image/index.png");
    background-repeat: repeat;
	font-weight: bold;
	color: #FFFFFF;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

nav {
    border-bottom: 0.25rem solid;
    border-color: #400c14;
}


nav *{
    margin: 0px 10px 0px 0px;
    left: 0px;
    top: 0px;
	min-width: 14%;
	display: inline-block;
}

.divtete{
	background: none repeat scroll 0% 0% rgba(24, 24, 24, 0.5);
	border-radius: 4px 4px 0px 0px;
	padding-left: 5px;
}

#prohib{
	text-align: left;
}


nav form{
    margin-left: 30px;
    max-width: 400px;
	max-height: 30px;
	padding-top: 10px;
	min-width: 40%;
	
}

a:link{
	text-decoration: none;
	padding: 10px;
	color: #FFFFFF;
}


a:visited{
	text-decoration: none;
	color: #FFFFFF;
}

nav div a:hover{
	background: none repeat scroll 0% 0% rgb(85, 85, 85);
	color: rgb(255, 255, 255);
}

.sousdiv{
	background: none repeat scroll 0% 0% rgba(16, 16, 16, 0.8);
	padding:15px;
}

#cadre, #principal{
	background: none repeat scroll 0% 0% rgba(16, 16, 16, 0.8);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.898);
	border-radius: 0px 0px 4px 4px;		
	margin: 10px;
	padding: 10px;
	text-align: center;
	margin-top: 0px;
	color: rgb(119, 119, 119);
}

#cadre{
	float : left;
	width: 15%;
	min-width: 275px ;
	max-width: 350px;
}

#souscadre{
	text-align: left;
}

#cadre img{
	height : 150px;
	width : 150px;
	border:2px solid black;
}

#principal *{
	vertical-align:middle;
}

#principal{
	margin-left: 5%;
	margin-right: 5%;
	min-width: 400px;
	max-width: 1500px;
	min-height: 100px;
	padding: 20px 20px 20px 20px;
}

.img {
	min-width: 400px; 
	max-width: 1000px;
	text-align: center;
}

h1{
	color: rgb(142, 175, 190);
}

h2{
	font-family: verdana,helvetica,arial,sans-serif;
	font-weight: bold;
}

h3{
	background: none repeat scroll 0% 0% rgb(37, 37, 37);
	font-size: 15px;
	font-weight: normal;
	padding: 8px !important;
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.09) inset;
	border-radius: 4px 4px 0px 0px;
	text-shadow: -1px -1px 0px rgb(0, 0, 0);
	overflow: hidden;
	margin-bottom : 0px;
}

#principal p, #principal input{
	text-align: justify;
	padding-left: 10px;
	text-shadow: #000000 0px 0px, #000000 0px 0px, #000000 0px 0px, #000000 0px 0px;
}

.error{
	color: DarkRed;
	text-align:center;
	padding: 30px;
	margin: 20px;
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
	border: 2px DarkRed solid;
	border-radius: 4px 4px 4px 4px;
	text-shadow: #000000 0px 0px, #000000 0px 0px, #000000 0px 0px, #000000 0px 0px;
}

#mess{
	background: none repeat scroll 0% 0% rgba(16, 16, 16, 0.8);
	padding: 10px;
	min-height: 150px;
	margin-bottom: 2px;
	
	
}

#titrejeu{
	width: 960px;
	margin: auto;
}

#jeu{
	width: 960px;
	height: 540px;
	margin: auto;
}

#marge{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 2%;
	padding-right: 2%;
}

table{
	margin-left: 4%;
}

td{
	width: 40%;
}

div input{
	margin: 10px;
}

*, *:after, *:before {
    box-sizing: border-box;
}

footer{
	font-size: 80%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center; 
}

footer div{
	display: inline-block;
	min-width: 15%;
}
